.clg-name{
    font-size: 20px;
    font-weight: 700;
}

.fixed-size-image {
    width: 100%;
    height: auto;
    max-width: 100%; 
    height: auto;
    max-height: 200px; 
}

.card {
    height: 100%; 
    border: none; 
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body-content {
    flex-grow: 1;
}
