.icon-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content:start;
}

.github-icon {
    color: black;
}

.linkedin-icon {
    color: blue;
 
}
.instagram-icon {
    color: red;
}
