.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.project-image {
    max-width: 100%;
}

.project-content {
    max-width: 100%;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.card-body {
    background-color:#A6E1FA;
    height: 220px;
}


.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}
